@import 'variable';

.messageDesPadding {
    padding: 16px 16px 12px 16px
}
.messageSpecialColor {
    color: #FF785E;
}
.messageBorderLeftColor {
    border-left: 3px solid $primaryColor;
}
.messageReplayBg {
    background: #F8F9FA;
}
.messageMarginLeft-2 {
    margin-left: 16px;
}
.messageMarginBottom-2 {
    margin-bottom: 16px;
}
.messageMarginBottom-1 {
    margin-bottom: 4px;
}
.messagePaddingBottom-1 {
    padding-bottom: 8px;
}