$bgBlue: #415165;
$colorRed: #A00404;
$colorBlue: rgb(8, 63, 130);
$colorGray: rgb(167, 168, 169);
* {
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    img {
        max-width: 100%; /* 每張圖片就會伸縮 */
        height: auto;
    }

    *,*::before,*::after{
        box-sizing: border-box; /* 可不用算padding */
    }
}
// .infoBody {
//     padding: 3px;
//     margin: 0;
//     width: 80%;
// }
ul li {
    margin-bottom: 8px;
    font-size: 18px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
}
.title {
    margin: 20px 0;
}
.skillTree {
    display: flex;
    margin: 20px 0px;
    img {
        width: 17%;
    }
    ul {
        width: 33%;
        li {
            list-style-type: none;  
            padding: 10px 0px;
        }
    }
}
.skillSpan {
    padding: 0px 20px;
    line-height: 50px;
}
.profile {
    font-size: 20px;
    padding-left: 0px;
}
.profileImg {
    border-radius: 20%;
}
.colorRed {
    color: $colorRed;
}
.colorBlue {
    color: $colorBlue;
}
.colorGray {
    color: $colorGray;
}
.bgBlue {
    background: $bgBlue;
}
.bold {
    font-weight: 500;
}
.header {
    display: flex;
}
.infoHeader {
    padding: 17px 40px;
}
.fontSize3 {
    font-size: 27px;
}
.fontSize2 {
    font-size: 18px;
}
.body {
    li {
        list-style-type: decimal;
    }
}
.inSide {
    li {
        list-style-type: circle;
    }
}
.contact {
    li {
        list-style: none;
        a {
            text-decoration: none;
        }
    }

}
.center {
    text-align: center;
    background: rgb(59, 153, 217);
    padding: 10px;
    margin-bottom: 0;
    color: white;
}
.inLine {
    display: inline;
}
.subProfile {
    display: flex;
    color: $colorGray;
    padding-left: 0px;
    li {
        margin-right: 5px;
    }
}
.experience {
    color: $colorGray;
    li {
        list-style-type: circle;
    }
}
.desktopNone {
    display: none;
}



@media (max-width: 767px) {
    * {
        font-size: 20px;
    }
    h2 {
        text-align: center;
        padding-top: 5px;
    }
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .header {
        flex-wrap: wrap;
        img {
            width: 100%;
        }
    }   
    .skillTree {
        flex-wrap: wrap;
        ul {
            width: 50%;
        }
    }
    .skillSpan {
        padding: 0px 10px;
        line-height: 0;
    }
    .infoHeader {
        padding: 0;
        padding-top: 25px;
    }
    .colorRed {
        display: none;
    }
    .center {
        padding: 18px;
    }
    .profile {
        li {
            font-size: 16px;
        }
    }
    .subProfile {
        li {
            font-size: 14px;
        }
    }
    .mobileShow {
        display: block;
    }
    .mobileNone {
        display: none;
    }
    .skillTree {
        ul {
            margin-bottom: 0;
        }
    }
}
