.container {
  width: 900px;
  margin: auto;
  padding: 20px 0;
}
section {
  border: 1px solid #ccc;
  margin-bottom: 1em;
}
.mainTitle {
    background-color: rgb(49, 164, 216);
    padding: 20px;
    height: 70px;
    color: #fff;
    margin-bottom: 2em;
}
.subTitle {
  background-color: rgb(254, 247, 218);
  padding: 20px;
  height: 90px;
}
.wrap {
  display: flex;
  padding: 20px;
  text-align: center;
}
.wrap .item {
  width: 300px;
  height: 240px;
  border: 1px solid #ccc;
  margin: 15px 28px;
  padding: 33px 10px;
}
.wrap .item p {
  margin-top: 10px;
}
.tabBlock {
  max-width: 900px;
  border: 1px solid #ccc;
}
.tabBlock .tab {
  display: flex;
}
.tabBlock .tab div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: calc(100% / 3);
  height: 57px;
  color: #2E9ED7;
  font-size: 20px;
  cursor: pointer;
  background: #FFFFFF;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.tabBlock .tab div:first-child {
  border-left: none;
}

.tabBlock .tab .active {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-bottom: none;
}

// 閃爍 Css 字體
.centered{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%); 
}

.neonEffect{
  color:#fff;
  letter-spacing:2px;
}

.neonEffect:nth-of-type(1){
  text-shadow:
    0 0 5px rgba(67,232,216, 1),
    0 0 10px rgba(67,232,216, 1),
    0 0 20px rgba(67,232,216, 1),
    0 0 40px rgba(67,232,216, 1);
  animation:neon-shine 2s linear infinite;
  
}

.neonEffect:nth-of-type(2){
  text-shadow:
    0 0 5px rgba(247, 245, 41,.1),
    0 0 10px rgba(247, 245, 41,1),
    0 0 20px rgba(247, 245, 41,1),
    0 0 40px rgba(247, 245, 41,1);
   animation:neon-shine 2s 1s linear infinite;
}
 
.neonEffect:nth-of-type(3){
  text-shadow:
    0 0 5px rgba(255, 65, 65, 1),
    0 0 10px rgba(255, 65, 65, 1),
    0 0 20px rgba(255, 65, 65, 1),
    0 0 40px rgba(255, 65, 65, 1);
  animation:neon-shine 2s linear infinite;
}

@keyframes neon-shine{
  0%{opacity:1;}
  90%{opacity:0;}
  100%{
  color:#232323;}
}  

//frostedGlass
.fGBody {
  height:  100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-image: url(https://images.unsplash.com/photo-1632900200771-6e05b1cdfbfd?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzM3x8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=60); //w 1920 的數字可以調整
  background-size: cover; // 恢復原本照片的大小
  position: center center; //讓圖片置中
  color: #fff;
} 
.fGNavBar {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  padding: 10px;
  border-bottom: 1px solid #000;
  text-align: center;
}
.fGCard {
  width: 600px;
  height: 300px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fGBackDropBlur {
  backdrop-filter: blur(20px);   // frosted數字越高越模糊
}