.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}
.item {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    &:hover .txt{
        opacity: 1;
    }
    &:hover h2::after {
        width: 100%;
    }
    img {
        width: 100%;
    }
}

.txt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: .5s;
    h2 {
        color: yellow;
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            margin: 10px 0;
            background-color: #ff0;
            transition: .5s .2s;   
        }
    }
    p {
        color: white;
    }
}
@media (max-width:767px) {
    .container {
        padding: 0;
        max-width: 1140px;
    }   
    .item {
        img {
            width: 100%;
        }
    }
}