*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main {
    max-width: 1440px;
    margin: 0 auto;
}
.paddingTop {
    padding-top: 35px;
}
.subSection {
    width: 90%;
    margin: 0 auto;
}

.easySection {
    padding: 30px 0px;    
}
.easyContainer {
    display: flex;   
    justify-content: center; 
}
.easyItem {
    padding: 20px;    
    text-align: center;
}
.easyFont {
    font-size: 1.75rem;
    height: 250px;
    display: flex;
    align-items: center;
}
.easyText {
    margin-top: 10px;
}
.hardSection {
    text-align: center;
    background-color: #f8f9fa;
    h2{
        padding: 50px 0px;
    }
}
.hardContainer {
    display: flex;   
    justify-content: center;   
}
.hardItem {
    padding: 20px;
    text-align: center;    
}
.hardText {
    margin-top: 10px;    
}
.learningContainer {
    display: flex;
    justify-content: center;
}
.learningImgPadding{
    padding: 30px 0px 30px 100px;       
}
.learningItem{
    font-size: 18px;
    padding: 20px;
    margin-left: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    img {
        width: 85%;
    }
}
.howToUseSection {
    background-color: #f8f9fa;
    display: flex;
}
.howToUseItem {
    width: 50%;    
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    img {
        width: 85%;
    }
}
.howToUsePStyle {
    p {
        display: flex; 
        justify-content: flex-end;
        font-size: 18px;
    }
}
.howToUsePStyle2 {
    p {
        margin-bottom: 0px;
        line-height: 25px;
    }
}
.CourseSyllabusSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.imageCarouselSection{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.imageCarouselView {
    width: 600px;
    overflow: hidden;
}
.imageCarouseRightArrow {
    font-size: 48px;
    display: flex;
    align-items: center;
    margin-left: 10%;    
}
.imageCarouseLeftArrow {
    font-size: 48px;
    display: flex;
    align-items: center;
    margin-right: 10%;    
}

.imageCarouselSource {
    display: flex;    
    transform: translateX(0);
}
.lecturerTitleSection{
    text-align: center;
}
.lecturerSection {
    text-align: center;    
}
.lecturerDescription h2::before{
    content: '一';
}
.lecturerDescription h2::after{
    content: '一';
}
.lecturerProfile {
    display: flex;   
    justify-content: center; 
}
.lecturerItem {
    padding: 20px;    
    position: relative;
        p {
            padding-top: 5px;
        }
}
.lecturerItem:hover .lecturerSpeak{
    opacity: 1;
}
.lecturerSpeakSection {
    position: absolute;    
    top: -15%;
    left: 55%;
    z-index: 10;
}
.lecturerSpeak {
    opacity: 0;
    position: relative;
    p{
        position: absolute;
        top: 26%;
        left: 15%;
        color: white;
    }
}
.lecturerSpeakRightSection{
    position: absolute;    
    top: -15%;
}
.GameTeamSection {
    max-width: 1400px;    
}
.GameTeamMember {
    display: flex;    
    justify-content: center;
}

@media (max-width: 767px){
    body {
        background: red;
    }
}

