.center {
  width: 50%;
  margin: 0 auto;
  margin-top: 8%;
}
.font{
  font-size: 24px;
}
.padding {
  font-size: 24px;
  width: 100%;
  padding: 6px 2vw;
  border-color: #C8C8C8;
}
.margin {
  margin-top: 3%;
}
.centerBtn {
  text-align: center;
  background-color: red;
}
.btn{
  width: 100%;
  padding: 2%;
  font-size: 20px;
  background-color: rgb(0, 111, 255);
  color: white;
}
.disableBtn {
  width: 100%;
  padding: 2%;
  font-size: 20px;
  background-color: rgb(0, 111, 255);
  color: white;
  background-color: red;
}
.title {
  background: rgb(238, 245, 230);
  padding: 20px 50px;
  text-align: center;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}
.header {
  display: flex;
}
.centers{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.borderRa{
  border-radius: 50%;
}