.accordionBtnColor {
  background: white !important;
  color: #000 !important;
}

.accordionBlock {
  padding: 7px;
  border-radius: 10%;
  background: #FFDF65;
  margin-right: 10px;
}

.p2 {
  padding: 16px;
}

.pb1 {
  padding-bottom: 8px;
}

.pb2 {
  padding-bottom: 16px;
}

.activityBtnColor {
  color: #FF785E;
}

.messageDesPadding {
  padding: 16px 16px 12px 16px;
}

.messageSpecialColor {
  color: #FF785E;
}

.messageBorderLeftColor {
  border-left: 3px solid #FFDF65;
}

.messageReplayBg {
  background: #F8F9FA;
}

.messageMarginLeft-2 {
  margin-left: 16px;
}

.messageMarginBottom-2 {
  margin-bottom: 16px;
}

.messageMarginBottom-1 {
  margin-bottom: 4px;
}

.messagePaddingBottom-1 {
  padding-bottom: 8px;
}

* {
  list-style: none;
}

* a {
  text-decoration: none;
}

.noneBorderBotton {
  border-bottom: none;
}

.bgPrimaryColor {
  background: #FFDF65;
}

.bgGray {
  background: #F8F9FA;
}

.navBorderBottomColor {
  border-bottom: 4px solid #FFDF65;
}

.navLoginBtn, .contentProgressBg {
  background: #FFDF65;
}

.primaryColor {
  color: #FFDF65;
}

.navLiPadding {
  padding: 24px 12px 0px 12px;
}

.mt-1 {
  margin-top: 16px !important;
}

.ml-2 {
  padding-left: 16px;
}

.mIcon {
  margin: 0px 4px;
}

.lh-3 {
  line-height: 24px;
}

.lh-4 {
  line-height: 32px;
}

.ls-1 {
  letter-spacing: 1px;
}

.br-1 {
  border-radius: 10%;
}

.socialBtnPadding {
  padding: 0px 4px;
}

.contentPriceFrontSize {
  font-size: 32px;
}

.navBtn {
  width: 96px;
  margin: 0px 8px;
}

.badge {
  padding: 7px 16px;
}

.productImg {
  border-radius: 6%;
  max-width: 100%;
}

.productIcon {
  width: 24px;
  height: 24px;
}

.productIconPL {
  padding-left: 25px;
}

.bg-lights {
  background: #fff;
}

.borderLeftColor {
  border-left: 3px solid #FFDF65;
}

.borderTopColor {
  border-top: 3px solid #FFDF65;
}

.linkLiPadding {
  padding: 0px 20px;
}

.active {
  border-bottom: 3px solid #FFDF65;
  padding-bottom: 1rem;
  font-weight: bold;
}

.pLH-2 {
  line-height: 36px;
}

.sponsorBtn {
  background: #FFDF65;
  max-width: 100%;
}

.iconBackGround {
  background: #858377;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.cardHeadImg {
  border: 3px solid #FFDF65;
  border-radius: 50%;
}

.support {
  background: #F8F9FA;
  border-left: 4px solid #FFDF65;
  border-right: 4px solid #FFDF65;
  border-radius: 10%;
  padding: 6px 0px;
}

.bgSupportBadge {
  background: #E8E8DB;
}

.colorSupportBadge {
  color: #848275;
}

.formBg {
  background: #F7F7F7;
}

.noBorder {
  border: none;
}

.sponsorPadding {
  padding: 11px 48px;
}

.sponsorHover:hover {
  background: #FF785E;
  color: #fff;
}

.advertising {
  top: 90px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.productIconMobilePadding {
  padding: 2px 8px;
}

.center {
  top: 1px;
  padding: 16px;
  font-size: 16px;
}

.borderNone {
  border: none;
}

.noBg {
  background: transparent;
}

.changeTrickStyle:hover {
  background: #FFDF65;
  border: none;
}

.changeTrickStyle:hover .changeHeartColor {
  color: #FF785E;
}
