.nav {
    background-color: black;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0%;  
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.container {
    width: 960px;
    margin: auto;
}

.container p {
    line-height: 1.5em;
    margin-bottom: 1px;
}