* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer {
    padding: 150px 0 0;
    background-image: linear-gradient(0deg, #3f5494, #08c7a5);
}

.container {
    display: flex;
    width: 1200px;
    margin: auto;
}

.item {
    width: 0;
    flex-grow: 1;
    margin: 0 20px;
}

.item nav {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    padding: 5px 0;
}

.item a {
    color: white;
    text-decoration: none;
}

.item h4 {
    color: white;
    font-size: 24px;
    border-bottom: 1px dotted #fff;
    margin-bottom: .5em;
    padding-bottom: .5em;
}

.copyRight {
    text-align: center;
    margin: 100px 0;
    background-color: #3e5293;
    padding: 20px;
    color: #70f6df;
}

a:hover  {
    color: #fa0;
}

.subs input[type="text"]{
    padding: 5px;
}
.subs input[type="submit"]{
    color: white;
    padding: 5px;
    background-color: #3e5293;
}
